{% load staticfiles %}
<link rel="shortcut icon" type="image/png" href="{% static 'six_degrees_of_drake/favicon.ico' %}"/>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.rawgit.com/jimhigson/oboe.js/v2.1.2/dist/oboe-browser.min.js"></script>

<!-- graph.js will look for the body tag and place a svg graph object inside -->
<body></body>

<script src="{% static 'six_degrees_of_drake/graph.js' %}"></script>

<script>

var g = new Graph(null,    // defaultImageUrl || "http://33.media.tumblr.com/avatar_a3415e501f10_128.png";
                  "100%",  // width || 500;
                  "97%",   // height || 500;
                  32,      // nodeRadius || 32;
                  null,    // borderStyle || "none";
                  null,    // stroke || "#0095dd";
                  null,    // strokeWidth || "2px";
                  null,    // strokeOpacity || ".6";
                  60,    // linkDistance || 200;
                  -8000,    // charge || -400;
                  "font-family: Helvetica, sans-serif; font-size: 14px", // textStyle
                  -40,     // textOffsetX || 0;
                  50);     // textOffsetY || 0;

{% autoescape off %}
oboe('../../info/{{artist_wiki_name}}')
{% endautoescape %}
    .node('{id name}', function(artistNode) {
        g.addNode(artistNode.id, artistNode.name, artistNode.imageUrl);
    })
    .node('{source target}', function(artistLink) {
        g.addLink(artistLink.source, artistLink.target);
    })   
    .done(function(things) {});

</script>
