{% load staticfiles %}
<link rel="shortcut icon" type="image/png" href="{% static 'six_degrees_of_drake/favicon.ico' %}"/>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.rawgit.com/jimhigson/oboe.js/v2.1.2/dist/oboe-browser.min.js"></script>

<!-- graph.js will look for the body tag and place a svg graph object inside -->
<body></body>

<script src="{% static 'six_degrees_of_drake/graph.js' %}"></script>

<script>
// function Graph(defaultImageUrl, width, height, nodeRadius, stroke, strokeWidth, strokeOpacity, linkDistance, charge) {
// DEFAULT VAUE: defaultImageUrl = defaultImageUrl || "http://33.media.tumblr.com/avatar_a3415e501f10_128.png";
// DEFAULT VAUE: width = width || 500;
// DEFAULT VAUE: height = height || 500;
// DEFAULT VAUE: nodeRadius = nodeRadius || 48;
// DEFAULT VAUE: stroke = stroke || "#0095dd";
// DEFAULT VAUE: strokeWidth = strokeWidth || "2px";
// DEFAULT VAUE: strokeOpacity = strokeOpacity || ".6";
// DEFAULT VAUE: linkDistance = linkDistance || 200;
// DEFAULT VAUE: charge = charge || -400;

var g = new Graph();

oboe('../../info/{{artist_wiki_name}}')
    .node('{id name}', function(artistNode) {
        console.log('id is ', artistNode.id)
        g.addNode(artistNode.id, artistNode.name, artistNode.imageUrl);
    })
    .node('{source target}', function(artistLink) {
        console.log('source is', artistLink.source)
        console.log('target is', artistLink.target)
        g.addLink(artistLink.source, artistLink.target);
    })   
    .done(function(things) {});

</script>
