{% load staticfiles %}
<link rel="stylesheet" href="{% static 'six_degrees_of_drake/main.css' %}" />
<link rel="shortcut icon" type="image/png" href="{% static 'six_degrees_of_drake/favicon.ico' %}"/>

<body>
<div class="masthead">
    <h1> 
        <img id="logo" src="{% static 'six_degrees_of_drake/logo.jpg' %}" />
        6 Degrees of Drake
    </h1>

    <div id="search">
        {% include 'artist_search.html' %}
    </div>

    <div class="footer">
        {% if artist_list %}
            There are {{ artist_list|length }} artist(s) currently in the database.
            <ul>
            {% for artist in artist_list %}
                <li><a href="/six_degrees_of_drake/{{ artist.name }}/">{{ artist.name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Currently no artists in the database.</p>
        {% endif %}
    </div>
</div>
</body>

<style>
/*
#logo {
    width: 42px;
    height: 42px;
    text-align: center;
    border-radius: 50%;
}

.masthead {
    max-width: 800px;
    margin: 20px auto;
}

.footer {
    font-size: x-small;
    margin: 400px 0;
}
    
.footer li {
    display: inline;
}

.footer li + li:before {
    content: "|";
    padding: 0 3px;
}

.footer ul {
    padding: 0;
}

#search {
    padding: 40px 40px;
}
*/
</style>
