<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.min.js"></script>
<script src="http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars-latest.js"></script>

<!-- Text field --> 
<div id="artist-search">
  <input class="typeahead" type="text" placeholder="Your favourite Rap/R&B artist">
</div>
 
<!-- Bloodhound engine --> 
<script>
var artistEngine = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('artist'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
        'url': 'query/%QUERY',
        'wildcard': '%QUERY',
    }
});
</script>

<!-- Suggestions template --> 
<script id="result-template" type="text/x-handlebars-template">
    <div class="ProfileCard u-cf">
        <img class="ProfileCard-avatar" src="{{image_url}}">
        <div class="ProfileCard-details">{{name}}</div>
        <div class="ProfileCard-stats">{{snippet}}</div>
    </div>
</script>

<script id="empty-template" type="text/x-handlebars-template">
    <div class="EmptyMessage">Your search turned up 0 results. This most likely means the backend is down, yikes!</div>
</script>

<!-- Text field initialization with typeahead.js --> 
<script>
template = Handlebars.compile($("#result-template").html().trim());
empty = Handlebars.compile($("#empty-template").html().trim());

$('#artist-search .typeahead').typeahead(null, {
    name: 'artist-engine',
    displayKey: 'artist',
    source: artistEngine,
    templates: {
        suggestion: template,
        empty: empty
    }
})
.on('typeahead:asyncrequest', function() {
    $('.Typeahead-spinner').show();
})
.on('typeahead:asynccancel typeahead:asyncreceive', function() {
    $('.Typeahead-spinner').hide();
});
</script>    

<style>
.typeahead, .tt-query, .tt-hint {
    width: 700px;
    height: 60;
    padding: 8px 12px;
    font-size: 18px;
    line-height: 30px;
    border: 2px solid #CCC;
    border-radius: 8px;
    outline: medium none;
    text-align: left;
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0px;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-dropdown-menu {
    width: 600px;
    margin-top: 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
    padding: 8px 20px;
    font-size: 14px;
    line-height: 18px;
}
</style>
