{% load staticfiles %}
<script src="{% static 'six_degrees_of_drake/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'six_degrees_of_drake/jquery.xdomainrequest.min.js' %}"></script>
<script src="{% static 'six_degrees_of_drake/typeahead.bundle.js' %}"></script>

<!-- Text field --> 
<div id="artist-search">
  <input class="typeahead" type="text" placeholder="Your favourite Rap/R&B artist">
</div>
 
<!-- Bloodhound engine --> 
<script>
var artistEngine = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
        'url': 'query/%QUERY',
        'wildcard': '%QUERY',
    }
});

artistEngine.initialize();
</script>

<!-- Text field initialization with typeahead.js --> 
<script>

$('#artist-search .typeahead').typeahead(null, {
    displayKey: 'name',
    source: artistEngine.ttAdapter(),
    templates: {
        suggestion: dataToCard,
        empty: function(data) {return "Not found...";}
    }
})
.on('typeahead:asyncrequest', function() {
    $('.Typeahead-spinner').show();
})
.on('typeahead:asynccancel typeahead:asyncreceive', function() {
    $('.Typeahead-spinner').hide();
});

function dataToCard(data) {
     return '<a href="' + data.url + '">' + 
                '<div class="ProfileCard">' + 
                    '<div class="ProfileCard-image" style="background-image: url(\'' + data.image_url + '\');" title="' + data.name + '"></div>' + 
                    '<div class="ProfileCard-details">' + 
                        '<div class="ProfileCard-name"><h2>' + data.name + '</h2></div>' + 
                        '<div class="ProfileCard-snippet">' + data.snippet + '</div>' + 
                    '</div>' +
                '</div>' +
            '</a>';
}
</script>    

<style>
.ProfileCard {
    position: relative;
}

.ProfileCard-image {
    width: 60px;
    height: 60px;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    left: 8px;
}

.ProfileCard-details {
    min-height: 80px;
    padding-left: 80px;
    text-align: left;
    color: initial;
}

.ProfileCard-name h2 {
    min-height: 40px
    margin-top: 0;
    margin-bottom: 2px;
    color:#0095dd;
}

.ProfileCard-snippet {
    margin-top: 2px;
    margin-bottom: 0;
}

.typeahead, .tt-query, .tt-hint {
    width: 700px;
    height: 60;
    padding: 8px 12px;
    font-size: 18px;
    line-height: 30px;
    border: 2px solid #CCC;
    border-radius: 8px;
    outline: medium none;
    text-align: left;
}

.tt-dropdown-menu {
    width: 422px;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-dropdown-menu {
    width: 600px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
    font-size: 14px;
    line-height: 18px;
}
</style>
